{% load i18n %}
<html>
<head>
    <title>{% block title %}{% trans "DjangoBot Logger" %}{% endblock %}</title>
    <link href="{{ MEDIA_URL }}css/screen_irc.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header" class="clearfix">
        <div id="header_title">{% trans "DjangoBot Logger" %}</div>
        <div id="navigation">
            <ul class="clearfix">
                <li><a href="#">{% trans "Search" %}</a></li>
                <li><a href="#">{% trans "Channels" %}</a></li>
                <li><a href="#">{% trans "About" %}</a></li>
            </ul>
        </div>
    </div>
    {% block body %}
    <div id="content" class="clearfix">
        {% block content %}
            <div id="content_left">
                {% block content_left %}{% endblock %}
            </div>
            <div id="content_right">
                {% block content_right %}{% endblock %}
            </div>
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>