{% extends "base_irc.html" %}
{% block title %}DjangoBot: latest 100 | {{ channel }} logs{% endblock %}
{% block heading %}DjangoBot: {{ channel }}{% endblock %}
{% block content %}

{% load colorme %}

    <h1>latest 100 | {{ channel }}</h1>

    <table>
        {% for message in messages %}
		{% ifchanged %}
	</table>
	<h3>{{ message.logged|date:"N jS, Y" }}</h3>
	<table>
		{% endifchanged %}
        <tr valign="top">
            <td><a href="#">{{ message.logged|date:"H:i" }}</a></td>
            {% if message.is_action %}
            <td colspan="2">{{ message.nickname }} {{ message.text|urlize }}</td>
            {% else %}
            <td align="right" style="color: {{ message.nickname|colorize }};"><strong>{{ message.nickname }}</strong></td>
            <td>{{ message.text|urlize }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{# </body> #}
{# </html> #}