--extra-index-url=http://dist.pinaxproject.com/dev/

Django==1.2.dev13117
Twisted==20.3.0
feedparser==4.1
psycopg2 # ==2.2.0 -- fails since setup.py says 2.2.0, but should be 2.2.0rc1
setproctitle==1.0

# not required for bot runtime, but needed since we share settings
django-timezones==0.2.dev1
django-debug-toolbar==0.8.3
pytz==2010h
gunicorn==0.8.1